.box-container {
  float: left;
  margin: 0.5em 0 0.5em 0;
  width: 100%;
  background-color: #252525;
  border-radius: 20px;
}

.box {
  margin: 2em;
}

.box-description {
  white-space: pre-line;
}

.idea-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.idea-box {
  position: relative;
  background-color: #252525;
  color: white;
  width: 240px;
  height: 200px;
  border-radius: 16px;
  padding: 1em;
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.idea-box:hover {
  transform: scale(1.03);
}

.box-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-description {
  font-size: 0.9em;
  color: #ddd;
  margin-top: 2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  white-space: normal;
}

@media screen and (max-width: 780px) {
  .box {
    margin: 1em;
  }
}

@media screen and (max-width: 500px) {
  .box {
    margin: 0.5em;
  }
}
