.fc {
  --fc-event-border-color: #f1c40f;
}

.fc-popover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 8px;
  max-width: 20em;
}

.fc-popover .fc-popover-header {
  color: #ffffff;
  background-color: #2ecc71;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 0.5em;
}

.fc-popover .fc-event {
  border-radius: 20px;
  margin-bottom: 0.3em;
  padding: 0.5em;
}

.fc-event {
  cursor: pointer;
  transition: all 0.2s ease;
}

.fc-event:hover {
  filter: brightness(0.9);
}

.fc .fc-day-today {
  background-color: transparent !important;
  border: none !important;
}

.fc .fc-button {
  background-color: #f47c57;
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
  padding: 13px;
  border: none;
  text-transform: capitalize;
}

.fc .fc-button:hover {
  background-color: #e2633f;
}

.fc .fc-button:active {
  background-color: #e2633f !important;
}

.fc .fc-button:disabled {
  background-color: #e2623fb9;
  pointer-events: none;
}

.fc .fc-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.fc-daygrid-event {
  background-color: #f47c57;
  color: #ffffff;
  border-radius: 8px;
  padding: 2px 6px;
}

.fc-daygrid-event:hover {
  font-weight: none;
  background-color: #e2633f;
}

.fc-daygrid-event-dot {
  display: none;
}

@media (max-width: 500px) {
  .fc-toolbar-title {
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-bottom: 0.5rem;
  }

  .fc-header-toolbar {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
