html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #fdfaf6;
  color: #2d2d2d;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.turbo-progress-bar {
  background-color: #f47c57;
  padding: 1px;
}

.center-element {
  float: left;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.panel {
  margin: auto;
  width: 50%;
}

a {
  color: #2d2d2d;
}

hr {
  color: #88857f;
}

.hint {
  color: #88857f;
  padding: 5px;
}

.float-left {
  float: left;
}

@media screen and (max-width: 1250px) {
  .panel {
    width: 60%;
  }
}

@media screen and (max-width: 1050px) {
  .panel {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .panel {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .panel {
    width: 90%;
  }
}

@media screen and (max-width: 690px) {
  .panel {
    width: 93%;
  }
}

@media screen and (max-width: 500px) {
  .panel {
    width: 97%;
  }
}
