.nav-logo {
  margin: 4px 0 0 4px;
  height: 100px;
  width: auto;
  border-radius: 20px;
}

.nav-menu {
  margin-top: 0.5em;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 100%;
  transition: max-height 1s ease-out;
}

.is-hamburger-toggle-menu-button {
  display: none;
}

@media screen and (max-width: 440px) {
  .is-hamburger-toggle-menu-button {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
  }

  .nav-menu .is-button {
    width: 80%;
    margin: 10px 0 0 0;
  }

  .nav-menu form {
    width: 88%;
  }

  .nav-menu form .is-button {
    width: 100%;
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 370px) {
  .nav-logo {
    display: none;
  }
}
