.pagination {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.pagination a {
  color: #f47c57;
  font-size: 1.3em;
}

.pagination .page.current {
  background: #f47c57;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.pagination a[disabled]  {
  color: #88857f;
  pointer-events: none;
}

@media screen and (max-width: 426px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pagination a,
  .pagination .page.current {
    font-size: 1.1em;
    width: 2em;
    height: 2em;
  }
}
